<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search pkg</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;

        }
        p {
            margin-left: 4rem;
            font-size: 3.6rem;
            color:	#F08080;
        }
        pre {
          margin-left: 4rem;
          font-size: 2rem;
        }
        img {
          -webkit-transform: rotate(-12deg);
        }
        img:hover {
          opacity: 0.5;
        }



    </style>
</head>
<body>
<p> usage: /search/package-name/keyword</p>
<pre> e.g.)http://localhost:8000/search/fmt/TODO <br> e.g.)http://localhost:8000/search/strings/NOTE </pre>
<div class="figure">
  <img src="https://connpass-tokyo.s3.amazonaws.com/thumbs/8d/47/8d472479c7fd79ff2ec6ec4107a93c5b.png"
       alt="gopher~"
       width="438"
       height="355"
       align= "right"
       >

</div>
</body>
</html>
